div
  label Title:
  input(name='d[title]', value=d.title || '')
div
  label Desc:
  div
    textarea(name='d[desc]')= d.desc
div
  label cost:
  input(name='d[cost]', value=d.cost || '')
div
  label view_id:
  input(name='d[view_id]', value=d.view_id || '')
div
  label image_id:
  input(id='my_image',name='d[image_id]', value=d.image_id || '')
div
  input(type='submit', value='Save')

//- УТФ